<!DOCTYPE html>
<html>
  <head>
    <title>Single</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form>
      Person: <input type="text" name="person" required>
      <input type="file" name="my-file">
      <button type="submit">Send</button>

      <div class="answer"></div>
    </form>
    
  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
